* {
    box-sizing: border-box;
    font-family: "Montserrat";
}

a { 
    text-decoration: none; 
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/static/image/nebo1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.login{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nebo{
    width: 100vw;
    height: 100vh;
}

.welcome{
    color: #8A243E;
    font-size: 36px;
}

::placeholder {
    color: #332c33;
    font-weight: 400;
}

.fake_placeholder{
    color: #332c33;
    font-weight: 400;
    font-size: 24px;
    position: relative;
    left: -125px;
    top: 50px;
}

form input {
	padding:5px 2px;
    padding-left: 10px;
    margin-bottom: 8px;
    width: 350px;
    height: 50px;
	outline:none;
    font-size: 26px;
    font-weight: 400;
    border-radius: 10px;
    border: none;
    
}

.cont_strelka_and_input{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: -54px;
    flex: 0 1 auto
}

.strelka_regist{
     width: 45px; 
}

.form_field {
    display: flex;
    height: 51px;
    margin-top: 10px;
    color: #000;
    justify-content: right;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

button[type=submit] {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffffff;
    padding-left: 25px;
    padding-right: 25px;
    height: 57px;
	outline:none;
    font-size: 28px;
    font-family: "Montserrat";
	border:0px solid #232138;
	display:inline-block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
    background-color: #BA55D3 ;
    border-radius: 20px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffffff;
    padding-left: 25px;
    padding-right: 25px;
    height: 57px;
	outline:none;
    font-size: 28px;
    font-family: "Montserrat";
	border:0px solid #232138;
	display:inline-block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
    background-color: #BA55D3 ;
    border-radius: 20px;
}

.container_buttons{
    display: flex;
    flex-direction: row;
    width: 330px;
    justify-content: space-between;
    margin-top: 25px;
}

.sign_up_text{
    position: relative;
    left: 220px;
    top: 75px;
    font-size: 20px;
    color: #ffffff;
}